{%extends "padre.html" %}
{%block titulo%} Sobre mi {%endblock%}

{%block imagenes%}
<img src="https://scontent.fvlg2-1.fna.fbcdn.net/v/t1.6435-9/128066238_4220580214625276_7221522339523206365_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=7a1959&_nc_eui2=AeF16KObBk3hljIN7owUWcR_ImJRBfPA8lMiYlEF88DyU1vSI7yMKrwNLYaEfZo19KWK1zVnfjq2Z7VtKOjpYJeK&_nc_ohc=aeyapRz_UhcAX-jWiWI&_nc_ht=scontent.fvlg2-1.fna&oh=00_AfDq22E2zeLz1qLIGSWH-Rc2nfRc-99TF17WYJED_bQ79g&oe=65DD3025" width="450" alt="no anda">

{%endblock%}



{%block texto%}

    <style>
        .posicion-especifica-texto {
            position: absolute;
            top: 800px;
            left:550px;
            right: 100px;
        }
    </style>

<body>
    <div class="posicion-especifica-texto">
       <p> Hola y bienvenidos! mi nombre es Belén Signes, soy estudiante de computación y tia, esta pagina esta hecha para un proyecto final de mi curso, en parte. Tambien es una pagina que le hacia ilusion a mi sobrina, Francesca, fanatica de Paw Patrol.
        Siempre jugamos con estos personajes y nos divertimos creando nuevos. Por eso cuando me llego la propuesta fue en lo primero que pense. Para los curiosos ella fue codiseñadora de la pagina y esta muy contenta con los primeros resultado, espero que tambien lo este cuando la vea terminada por completo.
        Ademas, soy desarrolladora jr, aun me queda mucho que apreder pero me alegro que formen parte de mi primer proyecto.</p>
       <p> Gracias por visitar y si estan en problemas solo aulla por ayuda!!!
    </p>
    </div>
</body>

{%endblock%}